<?xml version="1.0"?>
<launch>
  <!-- arguments -->
  <arg name="nodelet_manager" default="velodyne_nodelet_manager" />
  <arg name="enable_floor_detection" default="true" />
  <!-- <arg name="enable_gps" default="false" /> -->
  <arg name="enable_imu_acc" default="false" />
  <arg name="enable_imu_ori" default="false" />

  <arg name="points_topic" default="/assemble_yrl" />
  <arg name="map_frame_id" default="map" />
  <arg name="base_link_frame_id" default="base_link" />
  <arg name="lidar_odom_frame_id" default="odom" />
  
  <arg name="published_odom_topic" default="/odom" />
  <arg name="enable_robot_odometry_init_guess" default="false" />
  <arg name="robot_odom_frame_id" default="robot_odom" />

  <param name="/use_sim_time" value="true"/>
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hdl_graph_slam)/rviz/test.rviz" required="true"/>
  <node name="rosbag_play" pkg="rosbag" type="play" args="--clock /home/icalab/UDA_PCSS/src/IBPCSS_UDA/calibration/raw_data/bag/corridor_normal/bag_20231027_115104.bag" output="screen"/>

   <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)" args="manager" output="screen"/> 

  <!-- prefiltering_nodelet -->
  <node pkg="nodelet" type="nodelet" name="prefiltering_nodelet" args="load hdl_graph_slam/PrefilteringNodelet $(arg nodelet_manager)" output="screen" >
    <remap from="/velodyne_points" to="$(arg points_topic)" />
    <param name="base_link_frame" value="$(arg base_link_frame_id)" />
    <param name="use_distance_filter" value="true" />
    <param name="distance_near_thresh" value="0" />
    <param name="distance_far_thresh" value="20.0" />
    <param name="downsample_method" value="NONE" />
    <!-- <param name="downsample_resolution" value="0.1" /> -->
    <param name="outlier_removal_method" value="RADIUS" />
    <!-- <param name="outlier_removal_method" value="STATISTICAL" /> -->
    <!-- <param name="outlier_removal_method" value="NONE" /> -->
    <param name="statistical_mean_k" value="20" />
    <param name="statistical_stddev" value="0.2" />
    <param name="radius_radius" value="1" />
    <param name="radius_min_neighbors" value="0.2" />
  </node>

  <!-- <node pkg="nodelet" type="nodelet" name="scan_matching_odometry_nodelet" args="load hdl_graph_slam/ScanMatchingOdometryNodelet $(arg nodelet_manager)" >
    <param name="points_topic" value="$(arg points_topic)" />
    <param name="published_odom_topic" value="$(arg published_odom_topic)" />
    <param name="odom_frame_id" value="$(arg lidar_odom_frame_id)" />
    <param name="robot_odom_frame_id" value="$(arg robot_odom_frame_id)" />
    <param name="keyframe_delta_trans" value="1.0" />
    <param name="keyframe_delta_angle" value="1.0" />
    <param name="keyframe_delta_time" value="10000.0" />
    <param name="transform_thresholding" value="true" />
    <param name="max_acceptable_trans" value="0.5" />
    <param name="max_acceptable_angle" value="0.5" />
    <param name="enable_robot_odometry_init_guess" value="$(arg enable_robot_odometry_init_guess)" />
    <param name="downsample_method" value="NONE" /> -->
    <!-- <param name="downsample_resolution" value="0.1" /> -->
    <!-- <param name="registration_method" value="NDT_OMP" /> -->
    <!-- <param name="registration_method" value="ICP" /> -->
    <!-- <param name="registration_method" value="FAST_GICP" /> -->
    <!-- <param name="registration_method" value="FAST_VGICP" /> -->
    <!-- <param name="registration_method" value="FAST_VGICP_CUDA" />
    <param name="reg_num_threads" value="0" />
    <param name="reg_transformation_epsilon" value="0.01"/>
    <param name="reg_maximum_iterations" value="64"/>
    <param name="reg_max_correspondence_distance" value="2.5"/>
    <param name="reg_max_optimizer_iterations" value="20"/>
    <param name="reg_use_reciprocal_correspondences" value="false"/>
    <param name="reg_correspondence_randomness" value="20"/>
    <param name="reg_resolution" value="1.0" />
    <param name="reg_nn_search_method" value="DIRECT7" />

    <param name="camera_fx" value="640.95" />
    <param name="camera_fy" value="634.34" />
    <param name="camera_cx" value="328.12" />
    <param name="camera_cy" value="261.78" />
    <param name="rvecs" type="string" value="[1.14369190, -0.97722768, 1.24560884]" />
    <param name="tvecs" type="string" value="[-0.21660192, 0.21826830,0.31600145]" />
    <param name="mtx" type="string" value="[622.385878, 0.0, 348.999023, 0.0, 621.935066 , 246.603204, 0.0, 0.0, 1.0]" />
    <param name="dist" type="string" value="[0.014426 ,-0.000547, 0.004371 ,0.007068 ,0.000000]" />
  </node> -->
  
  <!-- <node pkg="nodelet" type="nodelet" name="floor_detection_nodelet" args="load hdl_graph_slam/FloorDetectionNodelet $(arg nodelet_manager)" if="$(arg enable_floor_detection)">
    <param name="points_topic" value="$(arg points_topic)" />
    <param name="tilt_deg" value="0.0" />
    <param name="sensor_height" value="0.43" />
    <param name="height_clip_range" value="0.5" />
    <param name="floor_pts_thresh" value="256" />
    <param name="use_normal_filtering" value="false" />
    <param name="normal_filter_thresh" value="20.0" />
  </node>  -->

  <!-- <node pkg="nodelet" type="nodelet" name="hdl_graph_slam_nodelet" args="load hdl_graph_slam/HdlGraphSlamNodelet $(arg nodelet_manager)">
    <param name="points_topic" value="$(arg points_topic)" />
    <param name="published_odom_topic" value="$(arg published_odom_topic)" />
    <param name="map_frame_id" value="$(arg map_frame_id)" />
    <param name="odom_frame_id" value="$(arg lidar_odom_frame_id)" />
    <param name="g2o_solver_type" value="lm_var_cholmod" />
    <param name="g2o_solver_num_iterations" value="512" />
    <param name="enable_imu_acceleration" value="$(arg enable_imu_acc)" />
    <param name="enable_imu_orientation" value="$(arg enable_imu_ori)" />
    <param name="max_keyframes_per_update" value="10" />
    <param name="keyframe_delta_trans" value="0.1" />
    <param name="keyframe_delta_angle" value="0.1" />
    <param name="fix_first_node" value="true"/>
    <param name="fix_first_node_stddev" value="10 10 10 1 1 1"/>
    <param name="fix_first_node_adaptive" value="true"/>
    <param name="distance_thresh" value="20.0" />
    <param name="accum_distance_thresh" value="35.0" />
    <param name="min_edge_interval" value="5.0" />
    <param name="fitness_score_thresh" value="0.5" />
    <param name="registration_method" value="FAST_GICP" />
    <param name="reg_num_threads" value="4" />
    <param name="reg_transformation_epsilon" value="0.01"/>
    <param name="reg_maximum_iterations" value="64"/>
    <param name="reg_max_correspondence_distance" value="2.5"/>
    <param name="reg_max_optimizer_iterations" value="20"/>
    <param name="reg_use_reciprocal_correspondences" value="false"/>
    <param name="reg_correspondence_randomness" value="20"/>
    <param name="reg_resolution" value="1.0" />
    <param name="reg_nn_search_method" value="DIRECT7" />
    <param name="floor_edge_robust_kernel" value="NONE" />
    <param name="floor_edge_stddev" value="10.0" />
    <param name="odometry_edge_robust_kernel" value="NONE" />
    <param name="odometry_edge_robust_kernel_size" value="1.0" />
    <param name="loop_closure_edge_robust_kernel" value="Huber" />
    <param name="loop_closure_edge_robust_kernel_size" value="1.0" />
    <param name="use_const_inf_matrix" value="false" />
    <param name="const_stddev_x" value="0.5" />
    <param name="const_stddev_q" value="0.1" />
    <param name="var_gain_a" value="20.0" />
    <param name="min_stddev_x" value="0.1" />
    <param name="max_stddev_x" value="5.0" />
    <param name="min_stddev_q" value="0.05" />
    <param name="max_stddev_q" value="0.2" />
    <param name="graph_update_interval" value="3.0" />
    <param name="map_cloud_update_interval" value="10.0" />
    <param name="map_cloud_resolution" value="0.05" />
  </node> -->

  <!-- <node pkg="hdl_graph_slam" type="map2odom_publisher.py" name="map2odom_publisher" >
     <param name="map_frame_id" value="$(arg map_frame_id)" />
     <param name="odom_frame_id" value="$(arg lidar_odom_frame_id)" />
  </node> -->
</launch>
