<?xml version="1.0"?>
<launch>
  <!-- arguments -->
  <arg name="bag_file" value="$(find calibration)/raw_data/bag/walk/bag_20231120_203624.bag" />
  <arg name="globalmap_pcd" value="$(find hdl_localization)/data/map_plane.pcd" />
  <param name="/use_sim_time" value="true"/>
  <arg name="nodelet_manager" default="velodyne_nodelet_manager" />
  <arg name="points_topic" default="/assemble_yrl" />
  <arg name="img_topic" default="/usb_cam/image_raw" />
  <arg name="raw_points_topic" default="/yrl_pub/yrl_cloud" />
  <!-- <arg name="odom_child_frame_id" default="yrl_cloud_id" /> -->
  <arg name="odom_child_frame_id" default="base_link" />
  <arg name="use_global_localization" default="true" />
  <arg name="enable_robot_odometry_prediction" value="false" />
  <arg name="robot_odom_frame_id" value="odom" />
  <arg name="plot_estimation_errors" value="false" />
  
  <node name="rosbag_play" pkg="rosbag" type="play" args="--clock --topics  $(arg points_topic) $(arg img_topic) --bags $(arg bag_file)" />
  

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hdl_localization)/rviz/hdl_localization.rviz" required="true"/>

  <include file="$(find hdl_global_localization)/launch/hdl_global_localization.launch" if="$(arg use_global_localization)" />
  
  <node name="image_segmentation_node" pkg="seg" type="image_segmentation_node.py"  />

  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)" args="manager" output="screen"/>

    <node pkg="nodelet" type="nodelet" name="globalmap_server_nodelet" args="load hdl_localization/GlobalmapServerNodelet $(arg nodelet_manager)">
      <param name="globalmap_pcd" value="$(arg globalmap_pcd)" />
      <param name="convert_utm_to_local" value="true" />
      <param name="downsample_resolution" value="0.1" />
    </node>

    <node pkg="nodelet" type="nodelet" name="hdl_localization_nodelet" args="load hdl_localization/HdlLocalizationNodelet $(arg nodelet_manager)">
      <remap from="/velodyne_points" to="$(arg points_topic)" />
      <remap from="/segmented_image" to="/segmented_image"/>
      <param name="odom_child_frame_id" value="$(arg odom_child_frame_id)" />
      <param name="cool_time_duration" value="2.0" />
      <param name="enable_robot_odometry_prediction" value="$(arg enable_robot_odometry_prediction)" />
      <param name="robot_odom_frame_id" value="$(arg robot_odom_frame_id)" />
      <param name="reg_method" value="NDT_OMP" />
      <param name="ndt_neighbor_search_method" value="DIRECT7" />
      <param name="ndt_neighbor_search_radius" value="2.0" />
      <param name="ndt_resolution" value="1.0" />
      <param name="downsample_resolution" value="0.1" />
      <param name="specify_init_pose" value="False" />
      <param name="init_pos_x" value="0.0" />
      <param name="init_pos_y" value="0.0" />
      <param name="init_pos_z" value="0.0" />
      <param name="init_ori_w" value="1.0" />
      <param name="init_ori_x" value="0.0" />
      <param name="init_ori_y" value="0.0" />
      <param name="init_ori_z" value="0.0" />
      <param name="use_global_localization" value="$(arg use_global_localization)" />
    </node>

    <node pkg="hdl_localization" type="plot_status.py" name="plot_estimation_errors" if="$(arg plot_estimation_errors)" />
</launch>
